*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body {
    background: #222;
}
.container{
    max-width: 480px;
    width: 90%;
    background:#ebfffc;
    background:linear-gradient(135deg , #00feba, #5b548a);
    color: #fff;
    margin:100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#myForm{
    width: 430px;
}
.search input{
    height: 15px;
    width: 338px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 25px;
    height: 60px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
}
.search button {
    height: 50px;
    width: 50px;
    border: 0;
    outline: 0;
    background:#ebfffc;
    border-radius: 50%;
    cursor: pointer;
}

.weather-data p {
    font-size: 53px;
}

.other-weather-data{
    margin-top: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hum-data p{
    font-size: 18px;
}
.wind-data{
    font-size: 18px;
}

.humidity, .wind-speed {
    display: flex;
    align-items: center;
}
.hum-img img{
    height: 40px;
    margin-right: 8px;
}
.wind-img img{
    height: 40px;
    margin-right: 8px;
}